<p id="notice"><%= notice %></p>

<p>
  <strong>Entrada:</strong>
  <%= @asistencia.entrada %>
</p>

<p>
  <strong>Salida:</strong>
  <%= @asistencia.salida %>
</p>

<p>
  <strong>User:</strong>
  <%= @asistencia.user %>
</p>

<p>
  <strong>Counter:</strong>
  <%= @asistencia.counter %>
</p>

<%= link_to 'Edit', edit_empleado_asistencia_path(@user, @asistencia) %> |
<%= link_to 'Back', empleado_asistencias_path(@user) %>
