
<h1>Asistencia</h1>

<table>
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Identificaciòn</th>
    <th>Role</th>
    <th>Email</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.identification %></td>
      <td><%= user.role %></td>
      <td><%= user.email %></td>
      <% if can? :update, user %>
        <td><%= link_to 'Editar', edit_empleado_path(user) %></td>
      <% end %>
      <td><%= link_to 'Asistencias', empleado_asistencias_path(user) %></td>
      <!--       <td><%#= link_to 'Edit', edit_asistencium_path(asistencium) %></td>
      <td><%#= link_to 'Destroy', asistencium, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    </tr>
  <% end %>
  </tbody>
</table>
